asttokens
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
executing
filelock
fsspec
huggingface-hub
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
matplotlib-inline
nest-asynci
nltk
numpy
packaging
pandas
parso
platformdirs
prompt_toolkit
psutil
pure_eval
pyaes
pyasn1
Pygments
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
regex
requests
rsa
safetensors
six
stack-data
Telethon
tokenizers
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
